<html>
  <head>
    <link rel="stylesheet" media="all" href="assets/stylesheets/application.css" data-turboli>
    <title>Bookers</title>
  </head>
  
  <body>
  <h1>Books</h1>

<!--titleとbody-->
<table>
  <list>
  <tr>
  <th>Title</th>
  <th>Body</th>
  <td colspan="3"></td>
  </tr>
  </list>

  <listbody>
    <tr>
        <td>テストテストテスト</td>
        <td>文章文章文章文章文章文章文章文章文章文章文章文章</td>
          <td><a>Show</a></td>
          <td><a>Edit</a></td>
          <td><a>Destroy</a></td>
    </tr>
  </listbody>
</table>

  <h2>New Book</h2>
  <div class="form">
    <!--form_with作成-->
  <div class="newtitle">
    <%= form_with model: Book.new do |f| %>
      <label for="book-title">Title</label>
    </div>
    <%= f.text_field :title %>
    <div class="newbody">
      <label for="book-body">Body</label>
    </div>
    <%= f.text_area :body %>
    <div class="actions">
  <%= f.submit 'Create Book' %>
<% end %>
    </div>
  </form>
  </body>
</html>