<html>
  <head>
    <link rel="stylesheet" media="all" href="assets/stylesheets/application.css" data-turboli>
    <title>Bookers</title>
  </head>
  
  <body>
  <h1>Books</h1>

<!--titleとbody-->
<table>
  <list>
  <tr>
  <th>Title</th>
  <th>Body</th>
  <td colspan="3"></td>
  </tr>
  </list>

  <listbody>
    <tr>
        <td>テストテストテスト</td>
        <td>文章文章文章文章文章文章文章文章文章文章文章文章</td>
          <td><a>Show</a></td>
          <td><a>Edit</a></td>
          <td><a>Destroy</a></td>
    </tr>
  </listbody>
</table>

  <h2>New Book</h2>
  <div class="form">
    <%= form_with model: @Book do |f| %>
    <div class="newtitle">
    <%= f.text_area :body %>
      <label for="book-title">Title</label>
      <textarea class="book-title" type="text" name="book[title]" id="book-title"></textarea>
    </div>
    <div class="newbody">
      <label for="book-body">Body</label>
      <textarea class="book-body" type="text" name="book[body" id="book-body"></textarea>
    </div>
    <div class="actions">
      <input type="submit" name="commit" value="Create Book" data-disable-with="Create Book">
    </div>
  </form>
  </body>
</html>