*
{
  padding: 0;
  box-sizing: border-box;
}

/*見出し*/

h1
{
  display: block;
  font-size: 2em;
  margin-bottom: 10px;
}

/*投稿一覧*/
body
{
  background-color: #fff;
  color: #333;
  font-family: verdana,arial,helvetica,sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin:33px;
}

.tbody
{
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.table
{
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}

th
{
  display: table-cell;
  text-indent: initial;
  border-spacing: 2px;
}

.list
{
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-indent: initial;
}

a
{
  text-decoration: underline;
}

td
{
  padding: 5px;
  padding-right: 10px;
}


/*投稿フォーム*/

.form
{
  display: block;
}

label
{
  display: block;
}

.newtitle
{
  margin-bottom: 10px;
}

.newbody
{
  margin-bottom: 10px;
}


.edit_submit
{
  display: block;
  margin-top: 10px;
}

.show
{
  display: block;
  margin: auto;
  padding: 10px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
